# 忽略所有内容
*

# 但不忽略.gitignore 文件本身
!.gitignore

# 允许 CMakeLists.txt
!CMakeLists.txt

# 允许特定文件夹或文件
!modules/
!app/
!thirdparty/
!scripts/
!docs/
!README.md

# 允许上述文件夹中的所有内容
!modules/**
!app/**
!thirdparty/**
!scripts/**
!docs/**


# 忽略三方依赖的构建产物
thirdparty/SDL3-src/build/
thirdparty/SDL3/

thirdparty/ffmpeg-src/build/
thirdparty/ffmpeg/